* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.header {
  background: #ffffff;
  color: #003366;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  padding: 10px 15px;
  background: #0055cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #003399;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.controls button.manual {
  background: #e6e6e6;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button.manual.active,
.controls button.manual:hover {
  background: #007bff;
  color: white;
}

.controls input[type="range"] {
  flex-grow: 1;
}

.fan-info,
.temperature-info,
.power-info {
  display: flex;
  justify-content: space-between;
}

.fan-info .fan,
.temperature-info > div,
.power-info > div {
  text-align: center;
  flex: 1;
}

.controls,
.fan-info,
.temperature-info,
.power-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.connection-data input[type="text"],
.connection-data input[type="password"],
.controls button.manual,
.controls button.setSpeed,
.controls input[type="range"],
.connection-data button {
  flex: 1;
  min-width: 70px;
  padding: 10px;
  margin: 0px;
}

.controls input[type="range"] {
  flex: 1;
  min-width: 88%;
  padding: 10px;
  margin: 0px;
}

.connection-data button,
.controls button.manual,
.controls button.setSpeed {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.connection-data button:hover,
.controls button.manual:hover,
.controls button.setSpeed:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.controls input[type="range"] {
  margin: 0 10px;
  max-width: 300px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-section .temperature-info {
  display: flex;
  flex-grow: 2;
  gap: 20px;
}

.info-section .cpu-temp,
.info-section .power-consumption {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  text-align: center;
}

.info-section .cpu-temp > div:first-child,
.power-consumption > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .connection-data input[type="text"],
  .connection-data input[type="password"],
  .controls button.manual,
  .controls button.setSpeed,
  .controls input[type="range"],
  .connection-data button {
    flex: none;
    width: auto;
  }

  .section {
    flex-direction: column;
  }
}

.console-output {
  background-color: #000;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  height: 180px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

#consoleLog {
  white-space: pre-wrap;
}

#save {
  background-color: #4cd964;
}

#clear {
  background-color: #ff3b30;
}

#save:hover {
  background-color: #4cc564;
}

#clear:hover {
  background-color: #e13b30;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.fan-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fan-info .fan {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

.fan-info .fan > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature-info,
.power-info {
  display: flex;
  justify-content: space-between;
}

.temperature-info > div,
.power-info > div {
  flex: 1;
  text-align: center;
}

.header {
  position: relative;
}

.toggle-console-btn {
  padding: 10px 15px;
  background: #0055cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-console-btn:hover {
  background-color: #898f91;
}

.error-container,
.success-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 1000;
  font-size: 1em;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.show-error {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.success-container */ {
  background-color: #d4edda;
  color: #155724;
  border: none;
}

.error-container:hover,
.success-container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.toggle-darkmode-btn {
  padding: 10px 15px;
  background: #0055cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-darkmode-btn:hover {
  background-color: #898f91;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .header {
  background: #333;
  color: #ffffff;
}

.dark-mode .fan-info .fan,
.dark-mode .info-section .cpu-temp,
.dark-mode .info-section .power-consumption {
  background: #2a2a2a;
  color: #ddd;
  border: 1px solid #000000;
}

.dark-mode .section {
  background: #252525;
  color: #ffffff;
}

.dark-mode .button {
  background: #555;
  color: #ddd;
}

.dark-mode .button:hover {
  background: #777;
}

.dark-mode .inp {
  background: #333;
  color: #ddd;
  border-color: #444;
}

.dark-mode .console-output {
  background-color: #000;
  color: #00ff00;
}

.dark-mode .controls button.manual {
  background: #555;
  color: #ddd;
}

.dark-mode .controls button.manual.active,
.dark-mode .controls button.manual:hover {
  background: #777;
}

.dark-mode .toggle-console-btn,
.dark-mode .toggle-darkmode-btn {
  background: #555;
  color: #ddd;
}

.dark-mode .toggle-console-btn:hover,
.dark-mode .toggle-darkmode-btn:hover {
  background-color: #777;
}

.dark-mode table {
  border-color: #444;
}

.dark-mode table th,
.dark-mode table td {
  border-color: #555;
}

.dark-mode ul,
.dark-mode ol {
  color: #ddd;
}

.header-logo {
  height: 50px;
  position: absolute;
  left: 32%;
  transform: translateX(-50%);
  top: 20px;
}

@media (max-width: 768px) {
  .header-logo {
    position: static;
    transform: none;
    display: block;
    margin: 0 auto;
    height: 40px;
  }
}
