/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.header {
  background: #ffffff;
  color: #003366;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-field {
  flex: 1;
  min-width: 200px;
}

.input-field input[type='text'],
.input-field input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  padding: 10px 15px;
  background: #0055cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #003399;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.controls button.manual {
  background: #e6e6e6;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button.manual.active,
.controls button.manual:hover {
  background: #007bff;
  color: white;
}

.controls input[type='range'] {
  flex-grow: 1;
}

.fan-info,
.temperature-info,
.power-info {
  display: flex;
  justify-content: space-between;
}

.fan-info .fan,
.temperature-info > div,
.power-info > div {
  text-align: center;
  flex: 1;
}

/* ... existing styles ... */

.connection-data,
.controls,
.fan-info,
.temperature-info,
.power-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center */
  gap: 15px; /* Add more space between items */
}

.connection-data input[type='text'],
.connection-data input[type='password'],
.controls button.manual,
.controls button.setSpeed,
.controls input[type='range'],
.connection-data button {
  flex: 1; /* Allow each item to grow */
  min-width: 70px; /* Minimum width so that they don't get too small */
  padding: 10px;
  margin: 0px; /* Add margin for spacing */
}


.controls input[type='range'] {
  flex: 1; /* Allow each item to grow */
  min-width: 88%; /* Minimum width so that they don't get too small */
  padding: 10px;
  margin: 0px; /* Add margin for spacing */
}


/* Style updates for buttons */
.connection-data button,
.controls button.manual,
.controls button.setSpeed {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Add transform to transition for a click effect */
}

.connection-data button:hover,
.controls button.manual:hover,
.controls button.setSpeed:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Slight move up on hover */
}

.controls input[type='range'] {
  margin: 0 10px; /* Specific margin for range input */
  max-width: 300px; /* Limit max width of range input */
}

.info-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-section .temperature-info {
  display: flex;
  flex-grow: 2; /* CPU temperature blocks take more space */
  gap: 20px;
}

.info-section .cpu-temp,
.info-section .power-consumption {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  text-align: center;
}

.info-section .cpu-temp > div:first-child,
.info-section .power-consumption > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .connection-data input[type='text'],
  .connection-data input[type='password'],
  .controls button.manual,
  .controls button.setSpeed,
  .controls input[type='range'],
  .connection-data button {
    flex: none;
    width: auto;
  }

  .section {
    flex-direction: column;
  }
}

/* Console window output */
.console-output {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  height: 180px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

#consoleLog {
  white-space: pre-wrap;
}


/* Save/Clear button color changes */
#save {
  background-color: #4cd964; /* Green */
}

#clear {
  background-color: #ff3b30; /* Red */
}

#save:hover {
  background-color: #4cc564; /* Darker Green */
}

#clear:hover {
  background-color: #e13b30; /* Darker Red */
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.fan-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fan-info .fan {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

.fan-info .fan > div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature-info,
.power-info {
  display: flex;
  justify-content: space-between;
}

.temperature-info > div,
.power-info > div {
  flex: 1;
  text-align: center;
}

/* Add to your existing styles */

.header {
  position: relative; /* Added for absolute positioning of the button */
  /* ... other styles ... */
}

.toggle-console-btn {
  position: absolute;
  right: 20px; /* Align to the right, 20px from the edge */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  padding: 10px 15px;
  background: #A2AAAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-console-btn:hover {
  background-color: #898f91;
}

@media (max-width: 768px) {
  .toggle-console-btn {
    position: static;
    transform: none;
    margin-top: 10px; /* Provide some space from the title */
  }
  .toggle-darkmode-btn {
    position: static;
    transform: none;
    margin-top: -75px; /* Provide some space from the title */
  }
}

.error-container,
.success-container {
  position: fixed;
  top: 20px;
  right: 20px; /* Positioned to the top-right */
  background-color: #f8d7da; /* Default to error color */
  color: #721c24;
  padding: 15px 30px; /* More padding for a pill-like shape */
  border-radius: 50px; /* Fully rounded corners for a pill shape */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Softer shadow */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 1000; /* Ensure it's above other content */
  font-size: 1em;
  transform: translateX(100%); /* Start hidden to the right */
  opacity: 0; /* Start transparent */
  pointer-events: none; /* Allows click events to pass through when not visible */
}

/* Shown state for the notification */
.show-error {
  transform: translateX(0); /* Bring into view */
  opacity: 1; /* Fully opaque */
  pointer-events: auto; /* Reactivates pointer events when visible */
}

/* Specific styles for success messages */
.success-container {
  background-color: #d4edda; /* Softer green for success */
  color: #155724;
  border: none; /* No border for success */
}

/* Hover effect for dismissible notifications */
.error-container:hover,
.success-container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


/* Add this to your existing styles */

.toggle-darkmode-btn {
  position: absolute;
  left: 20px; /* Align to the left, 20px from the edge */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  padding: 10px 15px;
  background: #A2AAAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-darkmode-btn:hover {
  background-color: #898f91;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212; /* Dark background for the body */
  color: #ffffff; /* Light text for better readability */
}

.dark-mode .header {
  background: #333; /* Darker background for the header */
  color: #ffffff;
}

.dark-mode .fan-info .fan,
.dark-mode .info-section .cpu-temp, 
.dark-mode .info-section .power-consumption {
  background: #2a2a2a; /* Darker background for the header */
  color: #ddd;
  border: 1px solid #000000;
}

.dark-mode .section {
  background: #252525; /* Dark background for each section */
  color: #ffffff; /* Light text color */
}

.dark-mode .button {
  background: #555; /* Dark background for buttons */
  color: #ddd; /* Lighter text for buttons */
}

.dark-mode .button:hover {
  background: #777; /* Lighter background for buttons on hover */
}

.dark-mode .inp {
  background: #333; /* Dark background for input fields */
  color: #ddd; /* Light text for input fields */
  border-color: #444; /* Dark border for input fields */
}

.dark-mode .console-output {
  background-color: #000; /* Black background for console output */
  color: #00ff00; /* Green text for the console, like a typical terminal */
}

/* You might need to adjust the colors for the fan control buttons */
.dark-mode .controls button.manual {
  background: #555; /* Dark background for manual control buttons */
  color: #ddd;
}

.dark-mode .controls button.manual.active,
.dark-mode .controls button.manual:hover {
  background: #777; /* Lighter background for active/hover state */
}

/* Adjust the color of the toggle buttons */
.dark-mode .toggle-console-btn,
.dark-mode .toggle-darkmode-btn {
  background: #555;
  color: #ddd;
}

.dark-mode .toggle-console-btn:hover,
.dark-mode .toggle-darkmode-btn:hover {
  background-color: #777;
}

/* If there are any tables or lists, you'll want to adjust them as well */
.dark-mode table {
  border-color: #444;
}

.dark-mode table th,
.dark-mode table td {
  border-color: #555;
}

.dark-mode ul,
.dark-mode ol {
  color: #ddd;
}

/* Any other elements that need dark mode styling */


.header-logo {
  height: 50px; /* Or any size you prefer */
  position: absolute;
  left: 32%; /* Center the logo */
  transform: translateX(-50%); /* Adjust horizontal centering */
  top: 20px; /* Adjust vertical positioning */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .header-logo {
      position: static;
      transform: none;
      display: block;
      margin: 0 auto;
      height: 40px; /* Smaller size for small screens */
  }
}
